@import "tailwindcss";

@font-face {
    font-family: speedee;
    src: url("./assets/fonts/speedee.ttf");
}

:root {
    --primary-dark: #103C7D;
    --primary-light: #2374eb;
    --secondary: #3c0892;
    --coin-name: #ff0000;
    --coin-symbol: #29ff00;
    --coin-price: #ff7b00;
    --coin-cap: #ffff00;
}

@theme {
    --color-primary-dark: var(--primary-dark);
    --color-primary-light: var(--primary-light);
    --color-coin-name: var(--coin-name);
    --color-coin-symbol: var(--coin-symbol);
    --color-coin-price: var(--coin-price);
    --color-coin-cap: var(--coin-cap);
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background: aqua;
    margin: 0;
    padding: 0;
}

.speedee {
    font-family: speedee, sans-serif;
}
